packages/
api.NetConnect/bin/
api.NetConnect/obj/
api.NetConnect.data/bin/
api.NetConnect.data/obj/
.vs/
api.NetConnect.data.Entity/obj/
api.NetConnect.data.ViewModel/bin/Release/api.NetConnect.data.ViewModel.pdb
api.NetConnect.data.ViewModel/bin/Release/api.NetConnect.data.ViewModel.dll.config
api.NetConnect.data.ViewModel/bin/
api.NetConnect.data.ViewModel/obj/
api.NetConnect.data.Entity/bin/
MYSQL Migration/MYSQL Migration/bin/
MYSQL Migration/MYSQL Migration/obj/
*.sln
api.NetConnect.data.ViewModel/api.NetConnect.data.ViewModel.csproj.vspscc
api.NetConnect.data.Entity/NetConnect.edmx.diagram
