<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NetConnectEntities" connectionString="metadata=res://*/NetConnect.csdl|res://*/NetConnect.ssdl|res://*/NetConnect.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=NetConnect;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>